In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("persons.txt")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
Name    8 non-null object
Age     8 non-null int64
W       8 non-null int64
H       8 non-null int64
dtypes: int64(3), object(1)
memory usage: 336.0+ bytes

In [5]:
X = df.drop(['Name'],axis=1)

In [6]:
X

   Age   W    H
0   60  70  180
1   63  75  170
2   50  80  190
3   45  72  170
4   46  65  190
5   34  67  185
6   67  56  186
7   62  76  166

In [7]:
from sklearn.cluster import KMeans

In [14]:
kmeans = KMeans(n_clusters=4, random_state=0).fit(X)

In [15]:
kmeans.labels_

array([0, 0, 1, 3, 1, 1, 2, 0])

In [16]:
kmeans.predict([ [56,80,180], [75,60,170]])

array([0, 2])